<template>
<button v-on:click="method">{{text}}</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
      text: String,
      method: Function
  }
}
</script>

<style scoped>
button {
  padding: 4px 4px;
}
</style>
