<template>
    <Button :method="copy" :text="text"/>
</template>

<script>
import Button from "@/components/Button/Button";
import RoulletAppHelper from "@/module/RoulletAppHelper";

export default {
  name: 'ClipBoardCopyButton',
  props: {
    targetid: String,
    text: String
  },
  components: {
    Button
  },
  data() {
    return {
      refTargetId: this.targetid
    };
  },
  methods: {
    copy: function() {
      try {
        var text = document.getElementById(this.refTargetId).innerText;
        RoulletAppHelper.copyToClipboard(text);
        alert("クリップボードにコピーしました!");
      } catch(error) {
        alert("クリップボードへのコピーに失敗しました。要素ID:「" + this.refTargetId + "」");
      }
    }
  }
}
</script>

<style scoped>

</style>
