<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>assets/favicon.ico">
    <title>Roulette</title>
  </head>
  <body>
    <noscript>
      <strong>javascriptを有効にしてください。</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
