<template>
<div class="bettingResult">
  <div>
    <p style="color: #000;">当たり：{{state.result.hitCount}}、はずれ：{{state.result.missCount}}
      <ClipBoardCopyButton style="margin-left: 10px;" targetid="balanceTransition" text="ベット結果をコピー" />
    </p>
  </div>
  <div class="balanceTransition" id="balanceTransition">
    <ul>
      <li v-for="(result, idx) in state.result.bettingResults" :key="idx">
        （{{idx}}）{{RoulletAppHelper.getDisplayHitText(result.isHit())}}, {{RoulletAppHelper.getDisplayColorText(result.getPocket().getColor())}}, {{result.getPocket().getNumber()}}, {{result.getBalance()}}
      </li>
    </ul>
  </div>
</div>
</template>

<script>
import store from "@/module/store";
import RoulletAppHelper from "@/module/RoulletAppHelper";
import ClipBoardCopyButton from "@/components/Button/ClipBoardCopyButton";

export default {
  name: 'BettingResult',
  components: {
    ClipBoardCopyButton
  },
  data() {
    return {
      RoulletAppHelper: RoulletAppHelper,
      state: store.state,
      bettingResults: store.state.result.bettingResults
    };
  },
  watch: {
    bettingResults: function() {
      // DOM更新タイミングを遅らせてbettingResults更新後にスクロールを実行させる
      this.$nextTick(function() {
        document.getElementById("balanceTransition").scrollTop = 99999999;
      });
    }
  }
}
</script>

<style scoped>
.bettingResult {
  width: 100%;
}

.balanceTransition {
  border: solid 1px #DDD;
  height: 170px;
  overflow-y: scroll;
  background-color: #FFFFFF;
}

.balanceTransition ul {
  margin: 0;
  padding: 0;
}

.balanceTransition li {
  list-style: none;
  padding: 6px 8px;
  border-bottom: solid 1px #DDD;
}

.balanceTransition li:first-child {
  border-top: solid 1px #DDD;
}
</style>
