<template>
<div>
  <Button class="rouletteBtn" v-bind:text="isRoulletStart ? 'Stop' : 'Start'" :method="startAndStop" />
  <Button class="rouletteBtn" text="Reset" :method="reset" />
</div>
</template>

<script>
import Button from "@/components/Button/Button";
import store from "@/module/store";
import Roulette from "@/module/Roulette";
import BettingTypes from "@/module/BettingTypes";
import BettingResult from "@/module/BettingResult";
import Pockets from "@/module/Pockets";
import SpeedMode from "@/module/SpeedMode";

export default {
  name: 'Controlles',
  components: {
    Button
  },
  data() {
    return {
      state: store.state,
      timerId: null,
      isRoulletStart: false
    };
  },
  methods: {
    startAndStop: function() {
      // stop処理
      if (this.isRoulletStart) {
        if (this.timerId != null) clearInterval(this.timerId);
        if (this.timeoutId != null) clearInterval(this.timeoutId);
        this.timerId = null;
        this.timeoutId = null;
        this.isRoulletStart = false;
        return;
      }

      // 開始時の各種フラグ更新
      this.isRoulletStart = true;
      this.state.userSetting.readonly = true;

      const self = this;
      const selectedBettingType = BettingTypes[store.state.userSetting.selectedBettingType];

      // 回転スピードに関する設定
      // 通常
      var DEG_SPAN = 10; // deg
      var ROTATE_SPAN = 600; // ms
      var ROTATE_DURATION = 1000; // ms
      var ROTATE_INTERVAL = 10; // ms

      if (self.state.userSetting.speedMode === SpeedMode.High) {
        DEG_SPAN = 10; // deg
        ROTATE_SPAN = 500; // ms
        ROTATE_DURATION = 200; // ms
        ROTATE_INTERVAL = 1; // ms
      }
      if (self.state.userSetting.speedMode === SpeedMode.Light) {
        DEG_SPAN = 10; // deg
        ROTATE_SPAN = 0; // ms
        ROTATE_DURATION = 0; // ms
        ROTATE_INTERVAL = 1; // ms
      }

      // ルーレット1回転分の処理
      function rotateFunc(durationMs, intervalMs) {
        return new Promise(resolve => {

          // ルーレット結果取得
          const pocket = Roulette.throwIn();

          //--------------------------------------------------------------------------------------------------
          // ノーマル、高速
          //--------------------------------------------------------------------------------------------------
          if (self.state.userSetting.speedMode != SpeedMode.Light) {
            var startMs = new Date().getTime();

            self.timerId = setInterval(function() {
              if (durationMs > new Date().getTime() - startMs) {

                // 回転
                if ((self.state.roulette.deg + DEG_SPAN) > 360) {
                  self.state.roulette.deg = 0;
                } else {
                  self.state.roulette.deg += DEG_SPAN;
                }

              } else {
                clearInterval(self.timerId);
                this.timerId = null;

                // ヒットしたポケットをセット
                self.state.result.hitPocket = pocket;

                // マッチしたスコアをインクリメント
                Object.keys(BettingTypes).forEach(function(key) {
                  if (BettingTypes[key].isMatch(pocket)) self.state.score[key] += 1;
                });

                self.state.roulette.deg = -(360 / Pockets.length * pocket.getNumber());

                // 当たり・はずれをインクリメント
                const isHit = selectedBettingType.isMatch(pocket);
                self.state.result.hitCount += (isHit ? 1 : 0);
                self.state.result.missCount += (isHit ? 0 : 1);

                // 残高更新
                var newBalance = 0;
                if (isHit) {
                  newBalance = self.state.userSetting.balance + (self.state.userSetting.wager * selectedBettingType.getRate());
                } else {
                  newBalance = self.state.userSetting.balance - self.state.userSetting.wager;
                }

                self.state.userSetting.balance = newBalance;

                // ベット結果の推移を更新
                self.state.result.bettingResults.push(new BettingResult(pocket, isHit, newBalance));

                if (ROTATE_SPAN > 0) {
                  self.timeoutId = setTimeout(resolve, ROTATE_SPAN);
                  self.timeoutId = null;
                } else {
                  resolve();
                }
              }
            }, intervalMs);
          }
          //--------------------------------------------------------------------------------------------------
          // 光速
          //--------------------------------------------------------------------------------------------------
          if (self.state.userSetting.speedMode == SpeedMode.Light) {
            // ヒットしたポケットをセット
            self.state.result.hitPocket = pocket;

            // マッチしたスコアをインクリメント
            Object.keys(BettingTypes).forEach(function(key) {
              if (BettingTypes[key].isMatch(pocket)) self.state.score[key] += 1;
            });

            // 当たり・はずれをインクリメント
            const isHit = selectedBettingType.isMatch(pocket);
            self.state.result.hitCount += (isHit ? 1 : 0);
            self.state.result.missCount += (isHit ? 0 : 1);

            // 残高更新
            var newBalance = 0;
            if (isHit) {
              newBalance = self.state.userSetting.balance + (self.state.userSetting.wager * selectedBettingType.getRate());
            } else {
              newBalance = self.state.userSetting.balance - self.state.userSetting.wager;
            }

            self.state.userSetting.balance = newBalance;

            // ベット結果の推移を更新
            self.state.result.bettingResults.push(new BettingResult(pocket, isHit, newBalance));

            resolve();
          }
        });
      }

      (async () => {
        //--------------------------------------------------------------------------------------------------
        // ノーマル、高速
        //--------------------------------------------------------------------------------------------------
        if (self.state.userSetting.speedMode != SpeedMode.Light) {
          for (var i = 0; i < self.state.userSetting.tryCount; i++) {
            await rotateFunc(ROTATE_DURATION, ROTATE_INTERVAL);
          }
        }
        //--------------------------------------------------------------------------------------------------
        // 光速
        //--------------------------------------------------------------------------------------------------
        if (self.state.userSetting.speedMode == SpeedMode.Light) {
          for (var y = 0; y < self.state.userSetting.tryCount; y++) {
            rotateFunc(ROTATE_DURATION, ROTATE_INTERVAL);
          }
        }

        await (function() {
          self.isRoulletStart = false;
          self.state.userSetting.readonly = false;
        })();
      })();

    },
    reset: function() {
      if (this.timerId != null) clearInterval(this.timerId);
      if (this.timeoutId != null) clearInterval(this.timeoutId);
      this.timerId = null;
      this.timeoutId = null;

      this.isRoulletStart = false;
      this.state.userSetting.readonly = false;
      this.state.roulette.deg = 0;
      store.clearScore();
    }
  }
}
</script>

<style scoped>
.rouletteBtn {
  padding: 6px 0;
  border-radius: 5px;
  width: 60px;
}
</style>
