<template>
<div>
  <div class="row">
    <div class="col">
      <div class="row">
        <Roulette />
      </div>
      <div class="row blockCenter" style="margin-top: 20px;">
        <RouletteBoard />
      </div>
    </div>
    <div class="col" style="width: 100%;max-width: 482px;">
      <div class="row">
        <UserSetting />
      </div>
      <div class="row">
        <BettingResult />
      </div>
      <div class="row">
        <Summary style="margin-top: 15px;" />
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <Chart />
  </div>
-->
</div>
</template>

<script>
import Roulette from "@/components/Roulette";
import RouletteBoard from "@/components/RouletteBoard";
import UserSetting from "@/components/UserSetting";
import BettingResult from "@/components/BettingResult";
import Summary from "@/components/Summary";
// import Chart from "@/components/Chart";
import store from "@/module/store";

export default {
  name: 'Root',
  data() {
    return {
      state: store.state
    };
  },
  components: {
    Roulette,
    RouletteBoard,
    UserSetting,
    BettingResult,
    Summary
    // Chart
  }
}
</script>

<style scoped>
.row {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  padding: 8px 20px;
}
</style>
