<template>
<div class="rouletteWrapper">
  <Controlles class="center" style="z-index:200;" />
  <div class="roulette" v-bind:style="{transform: `rotate(${state.roulette.deg}deg)`}">
      <template v-for="(pocket, idx) in pockets">
        <div class="p" v-bind:style="{transform: `rotate(${degSpan * idx}deg)`}" v-bind:key="pocket.getNumber()">
          <div class="a" v-bind:style="{borderColor: `${getColor(pocket)} transparent transparent`}"></div>
          <div class="aa">{{pocket.getNumber()}}</div>
        </div>
      </template>
  </div>
</div>
</template>

<script>
import Controlles from "@/components/Controlles";
import Color from "@/module/Color";
import Pockets from "@/module/Pockets";
import store from "@/module/store";

const degSpan = 360 / Pockets.length;

export default {
  name: 'Roulette',
  components: {
    Controlles,
  },
  data() {
    return {
      pockets: Pockets,
      degSpan: degSpan,
      state: store.state,
      getColor: (function(pocket) {
        const color = pocket.getColor();
        if (color === Color.Red) return 'var(--color-red)';
        if (color === Color.Black) return 'var(--color-black)';
        if (color === Color.Green) return 'var(--color-green)';
        return 'blue';
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.rouletteWrapper {
  position: relative;
}

.rouletteWrapper:before {
  position: absolute;
  left: 50%;
  right: 50%;
  top: -11px;
  display: block;
  content: "▼";
  color: #FFFFFF;
  font-size: 20px;
  z-index: 100;
}

.roulette {
  position: relative;
  width: 488px;
  height: 488px;
}

.p {
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  display: block;
  width: 22px;
  height: 244px;
  transform-origin: 22px 244px;
}

.a {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 244px 22px;
  z-index: 0;
}

.aa {
  position: absolute;
  display: block;
  width: 44px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  z-index: 5;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
</style>
