<template>
<table class="rouletteBoard">
  <tr>
    <td rowspan="3" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 0)}">0</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 1)}">1</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 4)}">4</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 7)}">7</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 10)}">10</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 13)}">13</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 16)}">16</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 19)}">19</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 22)}">22</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 25)}">25</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 28)}">28</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 31)}">31</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 34)}">34</td>
    <td v-bind:class="{isHit:  Matcher.column1(state.result.hitPocket)}">2:1</td>
  </tr>
  <tr>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 2)}">2</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 5)}">5</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 8)}">8</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 11)}">11</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 14)}">14</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 17)}">17</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 20)}">20</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 23)}">23</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 26)}">26</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 29)}">29</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 32)}">32</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 35)}">35</td>
    <td v-bind:class="{isHit:  Matcher.column2(state.result.hitPocket)}">2:1</td>
  </tr>
  <tr>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 3)}">3</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 6)}">6</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 9)}">9</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 12)}">12</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 15)}">15</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 18)}">18</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 21)}">21</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 24)}">24</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 27)}">27</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 30)}">30</td>
    <td class="odd" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 33)}">33</td>
    <td class="even" v-bind:class="{isHit: Matcher.straightUp(state.result.hitPocket, 36)}">36</td>
    <td v-bind:class="{isHit:  Matcher.column3(state.result.hitPocket)}">2:1</td>
  </tr>
  <tr>
    <td>-</td>
    <td colspan="4" v-bind:class="{isHit:  Matcher.dozen1(state.result.hitPocket)}">1-12</td>
    <td colspan="4" v-bind:class="{isHit:  Matcher.dozen2(state.result.hitPocket)}">13-24</td>
    <td colspan="4" v-bind:class="{isHit:  Matcher.dozen3(state.result.hitPocket)}">25-36</td>
    <td>-</td>
  </tr>
  <tr>
    <td>-</td>
    <td colspan="2" v-bind:class="{isHit:  Matcher.hi(state.result.hitPocket)}">1-18</td>
    <td colspan="2" v-bind:class="{isHit:  Matcher.even(state.result.hitPocket)}">EVEN</td>
    <td colspan="2" class="mark markRed" v-bind:class="{isHit:  Matcher.red(state.result.hitPocket)}">◆</td>
    <td colspan="2" class="mark markBlack" v-bind:class="{isHit:  Matcher.black(state.result.hitPocket)}">◆</td>
    <td colspan="2" v-bind:class="{isHit:  Matcher.odd(state.result.hitPocket)}">ODD</td>
    <td colspan="2" v-bind:class="{isHit:   Matcher.low(state.result.hitPocket)}">19-36</td>
    <td>-</td>
  </tr>
</table>
</template>

<script>
import store from "@/module/store";
import Matcher from "@/module/Matcher";

export default {
  name: 'RouletteBoard',
  data() {
    return {
      state: store.state,
      Matcher: Matcher
    };
  }
}
</script>

<style scoped>
.rouletteBoard {
  border-collapse: collapse;
  text-align: center;
  background-color: var(--color-board-bg);
  color: white;
}

.rouletteBoard td {
  border: solid 1px #DDD;
  padding: 4px 8px;
}
@media all and (max-width: 768px) {
  .rouletteBoard td {
    padding: 4px 0;
  }
}

.rouletteBoard .mark {
  font-size: 1.3em;
}

.rouletteBoard .markRed {
  color: var(--color-red);
}

.rouletteBoard .markBlack {
  color: var(--color-black);
}

.rouletteBoard .odd {
  color: var(--color-red);
}

.rouletteBoard .even {
  color: var(--color-black);
}

.rouletteBoard .isHit {
  background-color: #F4958C;
}
</style>
