<template>
<table class="summary">
  <tr>
    <th>パターン</th>
    <th>レート</th>
    <th>出現回数</th>
    <th>割合</th>
  </tr>
  <tr>
    <td>縦一列 (1→34)</td>
    <td>x3</td>
    <td>{{summary.column1.getCount()}}</td>
    <td>{{summary.column1.getPercent()}}％</td>
  </tr>
  <tr>
    <td>縦一列 (2→35)</td>
    <td>x3</td>
    <td>{{summary.column2.getCount()}}</td>
    <td>{{summary.column2.getPercent()}}％</td>
  </tr>
  <tr>
    <td>縦一列 (3→36)</td>
    <td>x3</td>
    <td>{{summary.column3.getCount()}}</td>
    <td>{{summary.column3.getPercent()}}％</td>
  </tr>
  <tr>
    <td>大 (1～12)</td>
    <td>x3</td>
    <td>{{summary.dozen1.getCount()}}</td>
    <td>{{summary.dozen1.getPercent()}}％</td>
  </tr>
  <tr>
    <td>中 (13～24)</td>
    <td>x3</td>
    <td>{{summary.dozen2.getCount()}}</td>
    <td>{{summary.dozen2.getPercent()}}％</td>
  </tr>
  <tr>
    <td>小 (25～36)</td>
    <td>x3</td>
    <td>{{summary.dozen3.getCount()}}</td>
    <td>{{summary.dozen3.getPercent()}}％</td>
  </tr>
  <tr>
    <td>前半 (1～18)</td>
    <td>x2</td>
    <td>{{summary.hi.getCount()}}</td>
    <td>{{summary.hi.getPercent()}}％</td>
  </tr>
  <tr>
    <td>後半 (19～36)</td>
    <td>x2</td>
    <td>{{summary.low.getCount()}}</td>
    <td>{{summary.low.getPercent()}}％</td>
  </tr>
  <tr>
    <td>奇数</td>
    <td>x2</td>
    <td>{{summary.odd.getCount()}}</td>
    <td>{{summary.odd.getPercent()}}％</td>
  </tr>
  <tr>
    <td>偶数</td>
    <td>x2</td>
    <td>{{summary.even.getCount()}}</td>
    <td>{{summary.even.getPercent()}}％</td>
  </tr>
  <tr>
    <td>赤</td>
    <td>x2</td>
    <td>{{summary.red.getCount()}}</td>
    <td>{{summary.red.getPercent()}}％</td>
  </tr>
  <tr>
    <td>黒</td>
    <td>x2</td>
    <td>{{summary.black.getCount()}}</td>
    <td>{{summary.black.getPercent()}}％</td>
  </tr>
  <tr>
    <td>緑 (0)</td>
    <td>x36</td>
    <td>{{summary.green.getCount()}}</td>
    <td>{{summary.green.getPercent()}}％</td>
  </tr>
</table>
</template>

<script>
import store from "@/module/store";
import Matcher from "@/module/Matcher";

class SummaryInfo {
  constructor() {
    this.count = 0;
    this.percent = 0;
  }
  getCount() {
    return this.count;
  }
  getPercent() {
    return Math.floor(this.percent * 100) / 100; // 少数2桁まで表示
  }
  clear() {
    this.count = 0;
    this.percent = 0;
  }
  update(addCount, allCount) {
    this.count += addCount;
    this.percent = this.count / allCount * 100;
  }
}

export default {
  name: 'Summary',
  data() {
    return {
      bettingResults: store.state.result.bettingResults,
      summary: {
        column1: new SummaryInfo(),
        column2: new SummaryInfo(),
        column3: new SummaryInfo(),
        dozen1: new SummaryInfo(),
        dozen2: new SummaryInfo(),
        dozen3: new SummaryInfo(),
        hi: new SummaryInfo(),
        low: new SummaryInfo(),
        odd: new SummaryInfo(),
        even: new SummaryInfo(),
        red: new SummaryInfo(),
        black: new SummaryInfo(),
        green: new SummaryInfo()
      }
    };
  },
  watch: {
    bettingResults: function() {
      const self = this;

      // 計算結果をクリア
      Object.keys(self.summary).forEach(function(key) {
        self.summary[key].clear();
      });

      // 再計算
      const allCount = self.bettingResults.length;
      self.bettingResults.forEach(r => {
        if (Matcher.column1(r.getPocket())) self.summary.column1.update(1, allCount);
        if (Matcher.column2(r.getPocket())) self.summary.column2.update(1, allCount);
        if (Matcher.column3(r.getPocket())) self.summary.column3.update(1, allCount);
        if (Matcher.dozen1(r.getPocket())) self.summary.dozen1.update(1, allCount);
        if (Matcher.dozen2(r.getPocket())) self.summary.dozen2.update(1, allCount);
        if (Matcher.dozen3(r.getPocket())) self.summary.dozen3.update(1, allCount);
        if (Matcher.hi(r.getPocket())) self.summary.hi.update(1, allCount);
        if (Matcher.low(r.getPocket())) self.summary.low.update(1, allCount);
        if (Matcher.odd(r.getPocket())) self.summary.odd.update(1, allCount);
        if (Matcher.even(r.getPocket())) self.summary.even.update(1, allCount);
        if (Matcher.red(r.getPocket())) self.summary.red.update(1, allCount);
        if (Matcher.black(r.getPocket())) self.summary.black.update(1, allCount);
        if (Matcher.green(r.getPocket())) self.summary.green.update(1, allCount);
      });
    }
  }
}
</script>

<style scoped>
.summary {
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;
}

.summary tr td, .summary tr th {
  border: solid 1px black;
  padding: 5px 8px;
}

.summary tr td:nth-child(3),
.summary tr th:nth-child(3),
.summary tr td:nth-child(4),
.summary tr th:nth-child(4) {
  text-align: right;
}

.summary tr td:nth-child(4),
.summary tr th:nth-child(4) {
  min-width: 80px;
}
</style>
