<template>
  <table class="table">
    <tr>
      <th>残金</th>
      <td>
        <input type="number" v-model="state.userSetting.balance" :disabled="state.userSetting.readonly" min="0" oninput="this.value = Math.abs(this.value)">
      </td>
    </tr>
    <tr>
      <th>掛金</th>
      <td>
        <input type="number" v-model="state.userSetting.wager" :disabled="state.userSetting.readonly" min="0" oninput="this.value = Math.abs(this.value)">
      </td>
    </tr>
    <tr>
      <th>戦術</th>
      <td>
        <select class="a" v-model="selectedBettingType" v-on:change="onChangeTactics" :disabled="state.userSetting.readonly">
          <template v-for="(bt, key) in BettingTypes">
            <option v-bind:value="key" :key="key">{{bt.getDisplayName()}} (rate: x{{bt.getRate()}})</option>
          </template>
        </select>
      </td>
    </tr>
    <tr>
      <th>試行回数</th>
      <td>
        <input type="number" v-model="state.userSetting.tryCount" :disabled="state.userSetting.readonly" min="0" oninput="this.value = Math.abs(this.value)">
      </td>
    </tr>
    <tr>
      <th>スピード</th>
      <td>
        <label><input type="radio" name="speed" v-model="speedMode" value="0" :disabled="state.userSetting.readonly" v-on:change="onChangeSpeedMode" />通常</label>
        <label style="margin-left: 8px;"><input type="radio" name="speed" v-model="speedMode" value="1" :disabled="state.userSetting.readonly" v-on:change="onChangeSpeedMode" />高速</label>
        <label style="margin-left: 8px;"><input type="radio" name="speed" v-model="speedMode" value="2" :disabled="state.userSetting.readonly" v-on:change="onChangeSpeedMode" />光速</label>
      </td>
    </tr>
  </table>
</template>

<script>
import store from "@/module/store";
import BettingTypes from "@/module/BettingTypes";
import SpeedMode from "@/module/SpeedMode";

export default {
  name: 'UserSetting',
  data() {
    return {
      state: store.state,
      BettingTypes: BettingTypes,
      selectedBettingType: "column1",
      speedMode: SpeedMode.Normal
    };
  },
  methods: {
    onChangeTactics: function() {
      this.state.userSetting.selectedBettingType = this.selectedBettingType;
    },
    onChangeSpeedMode: function() {
      this.state.userSetting.speedMode = this.speedMode;
    }
  }
}
</script>

<style scoped>
.table {
  border-collapse: collapse;
  background-color: #FFFFFF;
    width: 100%;
}

.table td,
.table th {
  border: solid 1px black;
  padding: 5px 8px;
}
</style>
