<template>
  <div id="app">
    <Root />
  </div>
</template>

<script>
import Root from '@/components/Root.vue';
import 'normalize.css';

export default {
  name: 'app',
  components: {
    Root
  }
}
</script>

<style>
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button, input[type="radio"], label {
  cursor: pointer;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--color-app-bg);
}
p {
  margin: 10px 0;
}
</style>
